Flask==0.10.1
Flask-Login==0.2.11
Flask-Mail==0.9.1
Flask-OpenID==1.2.4
Flask-SQLAlchemy==2.0
Jinja2==2.7.3
MarkupSafe==0.23
PyYAML==3.11
SQLAlchemy==0.9.8
Werkzeug==0.10.1
awsebcli==3.0.11
blinker==1.3
cement==2.4.0
defusedxml==0.4.1
gunicorn==19.2.1
itsdangerous==0.24
jmespath==0.6.1
python-dateutil==2.4.0
python3-openid==3.0.5
six==1.8.0
uWSGI==2.0.9
